<h3 class="page-title">
	Edit User
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Datatables</a>
            <i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Advanced Datatables</a>
		</li>
	</ul>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Edit User
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload" data-original-title="" title=""></a>
        </div>
    </div>
    
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form  class="form-horizontal form-row-seperated">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Id</label>
                    <div class="col-md-9">
                        <label class="control-label">{{user.Id}}</label>
                    </div>
                </div>
<!--                <div class="form-group">
                    <label class="control-label col-md-3">login</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control" ng-model="user.LoginCredential.login"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">mail</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control" ng-model="user.LoginCredential.mail"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">score</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control"  ng-model="user.score"></label>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-3">profile Img</label>
                    <div class="col-md-9">
                        <label class="control-label"><img ng-src="http://vynd-services.azurewebsites.net/{{user.profileImg}}" alt="{{user.firstName}}" /> 
                        <input type="file" ng-model="img" base-sixty-four-input accept="image/*" maxsize="4000" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">First Name</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control"  ng-model="user.firstName"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Last Name</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control"  ng-model="user.lastName"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Birth Date</label>
                    <div class="col-md-9">
                        <label class="control-label"><input type="text" class="form-control" ng-model="user.birthDate"></label>
                    </div>
                </div>
                
                
<!--                <div class="form-group">
                    <label class="control-label col-md-3">active</label>
                    <div class="col-md-9">
                        <label class="control-label">
                           <select class="form-control" ng-model="user.LoginCredential.active" >
                                <option value="true"  ng-selected="user.LoginCredential.active==true">True</option>
                                <option value="false" ng-selected="user.LoginCredential.active==false">False</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">blocked</label>
                    <div class="col-md-9">
                        <label class="control-label">
                            <select class="form-control" ng-model="user.LoginCredential.blocked" >
                                <option value="true"  ng-selected="user.LoginCredential.blocked==true">True</option>
                                <option value="false" ng-selected="user.LoginCredential.blocked==false">False</option>
                            </select>
                        </label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3">images</label>
                    <div class="col-md-9">
                        <label class="control-label" ng-repeat="img in u.images" >
                        <img ng-src="http://vynd-services.azurewebsites.net/{{img.uri}}" alt="{{img.id}}" /><br/>
                        </label>
                    </div>
                </div>-->
                

                
                
                
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn green" ng-click="edit()" ><i class="fa fa-pencil"></i> Edit</button> 
                        <button type="submit" class="btn red" ng-click="delete(user)" ><i class="fa fa-trash"></i> Delete</button>
                        <a href="#/user/list" class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>