


<style>.angular-google-map-container { height: 400px; }</style>
<h3 class="page-title">
	Add Business
</h3>
<!--<button confirm-button="talk('Hello, WegnerDesign!');" message="Did you come from WegnerDesign?" yes="Yeah" no="Nope">Talk!</button>-->
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Datatables</a>
            <i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Advanced Datatables</a>
		</li>
	</ul>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Add Business
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload" data-original-title="" title=""></a>
        </div>
    </div>
    
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form name="form"  class="form-horizontal form-row-seperated" novalidate>
            
            <div class="form-body">
                <div class="alert alert-success alert-dismissable" ng-show="success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    Business successfully added
                </div>
                <div class="alert alert-danger alert-dismissable" ng-show="error">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    Error ! <strong>Business</strong>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Name of the business" class="form-control" ng-model="b.name" required>
                        <span class="help-block">Name of the business </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Postal Code</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="example: 7050" class="form-control" ng-model="b.postalCode" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Adresse</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Adresse" class="form-control" ng-model="b.address" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Region</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Region" class="form-control" ng-model="b.region" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Tel</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="Tel" class="form-control" ng-model="b.tel" required>
                    </div>
                </div>

<!--                <div class="form-group">
                    <label class="control-label col-md-3">Images</label>
                    <div class="col-md-9">
                        <input type="file"  class="form-control" ng-model="imageSources" base-sixty-four-input accept="image/*" multiple>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-3">CNAM</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="cnam" value="true" name="cnam">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="cnam" value="false" name="cnam" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Appointment</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="appointment" value="true" name="appointment">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="appointment" value="false" checked name="appointment" >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Check</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="check" value="true" name="check">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="check" value="false" name="check" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">clim</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="clim" value="true" name="clim">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="clim" value="false" name="clim" checked>
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">credit Card</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="creditCard" value="true" name="creditCard">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="creditCard" value="false" name="creditCard" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">delivery</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="delivery" value="true" name="delivery">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="delivery" value="false" name="delivery" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">mixte</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="mixte" value="true" name="mixte">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="mixte" value="false" name="mixte" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">non Smoking</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="nonSmoking" value="true" name="nonSmoking">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="nonSmoking" value="false" name="nonSmoking" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">reservation</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="reservation" value="true" name="reservation">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="reservation" value="false" checked name="reservation" >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">takeAway</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="takeAway" value="true" name="takeAway">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="takeAway" value="false" name="takeAway" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">tele</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="tele" value="true" name="tele">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="tele" value="false" name="tele" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">terrace</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="terrace" value="true" name="terrace">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="terrace" value="false" name="terrace" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">tickets</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="tickets" value="true" name="tickets">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="tickets" value="false" name="tickets" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">wifi</label>
                    <div class="col-md-9">
                        <div class="">
                            <label>
                                <input type="radio" ng-model="wifi" value="true" name="wifi">
                                True&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label>
                                <input type="radio" ng-model="wifi" value="false" name="wifi" checked >
                                False
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">budget</label>
                    <div class="col-md-9">
                        <input type="text" placeholder="budget" class="form-control" ng-model="budget" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" >Description</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="10" ng-model="b.description" required></textarea>
                    </div>
                </div>

                
                
                
                <div class="form-group">
                    <label class="control-label col-md-3" >Localisation</label>
                    <div class="col-md-9">
                        <div class="form-inline">
                            <input type="text" placeholder="latitude" class="form-control" ng-model="b.latitude" style="width:300px;"> 
                            <input type="text" placeholder="longitude" class="form-control" ng-model="b.longitude" style="width:300px;margin-left:5px;">
                        </div>
                        <button type="button" class="btn green" ng-click="refresh()" style="margin-top:10px;"><i class="fa fa-pencil"></i> Rafréchir la map</button>
                        
                        <button type="button" class="btn green" ng-click="getPosition()" style="margin-top:10px;"><i class="fa fa-pencil"></i> Trouver ma position automatiquement</button>
                        
                        <div id="map_canvas" style="height:400px;" >
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                        
                        
                    </div>
                </div>
                

                
                
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <div class="alert alert-success alert-dismissable" ng-show="success" >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            Business successfully added
                        </div>
                        <div class="alert alert-danger alert-dismissable" ng-show="error">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            Error ! <strong></strong>
                        </div>
                        
                        <button type="submit" class="btn green" ng-click="add(form.$valid)" ng-disabled="disable"><i class="fa fa-pencil"></i> Add</button>
                        <a href="#/business/list" class="btn default">Cancel</a>
                        
                    </div>
                </div>
            </div>
            
            
            
        </form>
        <!-- END FORM-->
    </div>
</div>

