<style>.angular-google-map-container { height: 400px; }</style>
<h3 class="page-title">
Business Detail <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/business/list">Business List</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href>Business Detail</a>
        </li>
    </ul>
</div>


<!-- END PAGE HEADER-->
<div class="tab-pane active" id="tab_1_3">
    <div class="">
        
        <tabset >
            <tab heading="Adresse">
                <div id="tab_1-1" class="tab-pane active">
                    <form role="form" >
                        <div class="form-group">
                            <label class="control-label">Gouvernera</label>
                            <input type="text" class="form-control" ng-model="b.gouvernera.name" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Delegation</label>
                            <input type="text" class="form-control" ng-model="b.delegation.name" readonly>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Adress</label>
                            <input type="text" class="form-control" ng-model="b.adress" readonly>    
                        </div>
                        <div class="form-group">
                            <label class="control-label">Localisation</label>
                                <div class="form-inline">
                                    <input type="text" placeholder="latitude" class="form-control" ng-model="latitude" style="width:300px;" readonly> 
                                    <input type="text" placeholder="longitude" class="form-control" ng-model="longitude" style="width:300px;" readonly>
                                </div><br/><br/>

                                <div id="map_canvas" style="height:400px;" >
                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                        </div>
                    </form>
                </div>
            </tab>
            <tab heading="Basic Information">
                <div id="tab_1-1" class="tab-pane active">
                    <form role="form" >
                        <div class="form-group">
                            <label class="control-label">Img profile</label>
                            <img ng-src="http://localhost:5000/img/bimg/{{b.profileImage}}" alt="img"  height="256"  />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" ng-model="b.name" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <input type="text" class="form-control" ng-model="b.category" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sub-Category</label>
                            <input type="text" class="form-control" ng-model="b.sousCategory" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tel</label>
                            <input type="text" class="form-control" placeholder="" ng-model="b.tel" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fax</label>
                            <input type="text" class="form-control" placeholder="" ng-model="b.fax" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" ng-model="b.email" readonly >
                        </div>
                        <div class="form-group">
                            <label class="control-label">WebSite</label>
                            <input type="text" class="form-control" placeholder="" ng-model="b.site" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Facebook Page</label>
                            <input type="text" class="form-control" placeholder="" ng-model="b.facebook" readonly/>
                        </div> 
                        <div class="form-group">
                            <label class="control-label">Google + Page</label>
                            <input type="text" class="form-control" placeholder="" ng-model="b.googleplus" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" rows="8" ng-model="b.description" readonly></textarea>
                        </div>
                        
                    </form>
                </div>
            </tab>
            <tab heading="Tags">
                <div class="row" style="margin-top:20px;" >
                <div class="col-md-12">
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Tags for {{b.name}}
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr>
                                        <th>
                                            id
                                        </th>
                                        <th>
                                            name
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="t in b.tag" >
                                        <td>
                                            {{t._id}}
                                        </td>
                                        <td>
                                            {{t.name}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
 
            </tab>
            <tab heading="Images">
                <table class="table table-bordered table-hover" style="margin-top:20px;" >
                        <thead>
                        <tr role="row" class="heading">
                            <th width="8%">
                                 Image
                            </th>
                            <th width="30%">
                            </th>
                        </tr>
                        <tbody>
                        <tr ng-repeat="im in b.businessImage" >
                            <td  >
                                <a href="http://localhost:5000/img/bimg/{{im.uri}}" class="fancybox-button" data-rel="fancybox-button">
                                <img class="img-responsive" ng-src="http://localhost:5000/img/bimg/{{im.uri}}" alt="" width="128" >
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

            </tab>
            <tab heading="Additional Information">
                <div id="tab_1-1" class="tab-pane active">
                    <form action="#" class="form-horizontal form-bordered form-label-stripped">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3">CNAM</label>
                                <div class="col-md-9">
                                    <span ng-if="b.cnam" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.cnam" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">appointment</label>
                                <div class="col-md-9">
                                    <span ng-if="b.appointment" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.appointment" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">air-conditioner</label>
                                <div class="col-md-9">
                                    <span ng-if="b.clim" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.clim" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Accepts Credit Cards</label>
                                <div class="col-md-9">
                                    <span ng-if="b.creditCard" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.creditCard" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">delivery</label>
                                <div class="col-md-9">
                                    <span ng-if="b.delivery" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.delivery" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">take Away</label>
                                <div class="col-md-9">
                                    <span ng-if="b.takeAway" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.takeAway" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Outdoor Seating</label>
                                <div class="col-md-9">
                                    <span ng-if="b.terrace" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.terrace" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Restaurant tickets</label>
                                <div class="col-md-9">
                                    <span ng-if="b.ticketsRestau" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.ticketsRestau" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Wheelchair Accessible</label>
                                <div class="col-md-9">
                                    <span ng-if="b.fauteuilRoulant" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.fauteuilRoulant" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Good for Kids</label>
                                <div class="col-md-9">
                                    <span ng-if="b.adapteEnfants" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.adapteEnfants" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Good for Groups</label>
                                <div class="col-md-9">
                                    <span ng-if="b.adapteGroupe" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.adapteGroupe" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Has TV</label>
                                <div class="col-md-9">
                                    <span ng-if="b.television" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.television" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Dogs Allowed</label>
                                <div class="col-md-9">
                                    <span ng-if="b.chiensAutorises" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.chiensAutorises" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Wifi</label>
                                <div class="col-md-9">
                                    <span ng-if="b.wifi" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.wifi" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Alcool</label>
                                <div class="col-md-9">
                                    <span ng-if="b.alcool" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.alcool" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">happy Hour</label>
                                <div class="col-md-9">
                                    <span ng-if="b.happyHour" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.happyHour" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Smoking</label>
                                <div class="col-md-9">
                                    <span ng-if="b.fumeur" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.fumeur" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Non-Smoking Area</label>
                                <div class="col-md-9">
                                    <span ng-if="b.espaceNonFumeur" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.espaceNonFumeur" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Home service</label>
                                <div class="col-md-9">
                                    <span ng-if="b.serviceADomicile" ><span class="label label-success">true </span></span>
                            <span ng-if="!b.serviceADomicile" ><span class="label label-danger">false </span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Estimated Budget</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="" class="form-control" value="{{b.budget}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Budget Range</label>
                                <div class="col-md-9">
                                    {{b.budgetRange}}/4
                                </div>
                            </div>
                            
                            
                        </div>
												
                    </form>
                </div>
            </tab>
            <tab heading="Comments">
                <div class="row" style="margin-top:20px;" >
                <div class="col-md-12">
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Comments for {{b.name}}
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr>
                                        <th>
                                            id
                                        </th>
                                        <th>
                                            date
                                        </th>
                                        <th>
                                            content
                                        </th>
                                        <th>
                                            rate
                                        </th>
                                        <th>
                                            user name
                                        </th>
                                        <th>
                                            negative
                                        </th>
                                        <th>
                                            positive
                                        </th>
                                        <th>
                                            funny
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="c in comments" >
                                        <td>
                                            {{c.id}}
                                        </td>
                                        <td>
                                            {{c.date}}
                                        </td>
                                        <td>
                                            {{c.content}}
                                        </td>
                                        <td>
                                            {{c.rate}}
                                        </td>
                                        <td>
                                            {{c.user.name}}
                                        </td>
                                        <td>
                                            {{c.negative.number}}
                                        </td>
                                        <td>
                                            {{c.positive.number}}
                                        </td>
                                        <td>
                                            {{c.funny.number}}
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
 
            </tab>
            <tab heading="Opening Days">
                <div class="row" style="margin-top:20px;" >
                <div class="col-md-12">
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Opening Days for {{b.name}}
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr>
                                        <th>
                                            day
                                        </th>
                                        <th>
                                            opening hour
                                        </th>
                                        <th>
                                            closing hour
                                        </th>
                                        <th>
                                            Open/Close
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="op in b.openingTime" >
                                        <td ng-switch on="op.dayNumber" >
                                            <div ng-switch-when="0" >Monday</div>
                                            <div ng-switch-when="1" >Tuesday</div>
                                            <div ng-switch-when="2" >Wednesday</div>
                                            <div ng-switch-when="3" >Thursday</div>
                                            <div ng-switch-when="4" >Friday</div>
                                            <div ng-switch-when="5" >Saturday</div>
                                            <div ng-switch-when="6" >Sunday</div>
                                        </td>
                                        <td >
                                            {{op.openStr}}

                                       
                                        </td>
                                        <td>
                                            {{op.closeStr}}
                                        </td>
                                        <td ng-switch on="op.open" >
                                            <div ng-switch-when="1" >Open</div>
                                            <div ng-switch-when="0" >Close</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
 
            </tab>
        </tabset>
        
        <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a href="#/business/edit/{{b._id}}" class="btn green" ><i class="fa fa-pencil"></i> Edit</a>
                        <a href="#/business/list" class="btn default">Go back to list</a>
                    </div>
                </div>
            </div>
            


        
                
        </div>
        <!--end col-md-9-->
    </div>
</div>