<style>.angular-google-map-container { height: 400px; }</style>
<h3 class="page-title">
Business Edit <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/business/list">Business List</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href>Business Edit</a>
        </li>
    </ul>
</div>


<!-- END PAGE HEADER-->
<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="">
                    <a  href="#/business/edit/{{businesId}}" >
                    <i class="fa fa-cog"></i> Information </a>
                    <span class="after">
                    </span>
                </li>
                <li class="">
                    <a  href="#/business/editcat/{{businesId}}" >
                    <i class="fa fa-cog"></i> Categories </a>
                </li>
                <li class="">
                    <a href="#/business/edittag/{{businesId}}" >
                    <i class="fa fa-cog"></i> Tags </a>
                </li>
                <li class="">
                    <a href="#/business/editadresse/{{businesId}}" >
                    <i class="fa fa-cog"></i> Adresse </a>
                </li>
                <li class="">
                    <a href="#/business/editprofileimage/{{businesId}}" >
                    <i class="fa fa-picture-o"></i> Profile Image </a>
                </li>
                <li class="active">
                    <a href="#/business/editimage/{{businesId}}" >
                    <i class="fa fa-picture-o"></i> Images </a>
                </li>
                <li class="">
                    <a href="#/business/editinformation/{{businesId}}" >
                    <i class="fa fa-cog"></i> Additional Information </a>
                </li>
                <li>
                    <a  href="#/business/editopeninghour/{{businesId}}" >
                    <i class="fa fa-cog"></i> Opening Hours </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
                <div id="tab_1-1" class="tab-pane active">
                    <form  role="form">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px; min-height:150px;">
                                </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new">Select image </span>
                                        <input type="file" ng-model="img" base-sixty-four-input accept="image/*" maxsize="4000" >
                                    </span>
                                    <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">
                                    Remove </a>
                                </div>
                            </div>
                        </div>
                        <div class="margin-top-10">
                            <a  class="btn green" ng-click="addImage(img)" >Add</a>
                        </div>
                    </form>

                    
                    
                    
                    <table class="table table-bordered table-hover" style="margin-top:20px;" >
                        <thead>
                        <tr role="row" class="heading">
                            <th width="8%">
                                 Image
                            </th>
                            <th width="30%">
                            </th>
                        </tr>
</thead>
                        <tbody>
                        <tr ng-repeat="im in b.images" >
                            <td>
                                <a href="http://localhost:4853{{im.uri}}" class="fancybox-button" data-rel="fancybox-button">
                                <img class="img-responsive" ng-src="http://localhost:4853{{im.uri}}" alt="">
                                </a>
                            </td>
                            <td>
                                <button class="btn default btn-sm" ng-click="deleteImage(im)" >
                                <i class="fa fa-times"></i> Remove </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>

<script type="text/javascript" src="assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>