<style>.angular-google-map-container { height: 400px; }</style>
<h3 class="page-title">
Business Edit <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/business/list">Business List</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href>Business Edit</a>
        </li>
    </ul>
</div>


<!-- END PAGE HEADER-->
<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="">
                    <a  href="#/business/edit/{{b.id}}" >
                    <i class="fa fa-cog"></i> Information </a>
                    <span class="after">
                    </span>
                </li>
                <li class="">
                    <a  href="#/business/editcat/{{b.id}}" >
                    <i class="fa fa-cog"></i> Categories </a>
                </li>
                <li class="active">
                    <a href="#/business/edittag/{{b.id}}" >
                    <i class="fa fa-cog"></i> Tags </a>
                </li>
                <li class="">
                    <a href="#/business/editadresse/{{b.id}}" >
                    <i class="fa fa-cog"></i> Adresse </a>
                </li>
                <li class="">
                    <a href="#/business/editimage/{{b.id}}" >
                    <i class="fa fa-picture-o"></i> Images </a>
                </li>
                <li class="">
                    <a href="#/business/editinformation/{{b.id}}" >
                    <i class="fa fa-cog"></i> Additional Information </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <form role="form" >
                <div class="form-group">
                    <label class="control-label">Tag</label>
                        <ui-select ng-model="tag.selected" theme="select2" style="min-width: 400px;">
                            <ui-select-match placeholder="Select a Tag">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="tag in tags | propsFilter: {name: $select.search}">
                              <div ng-bind-html="tag.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                </div>

                <div class="margiv-top-10">
                    <a href class="btn green btn-lg" ng-click="addTag(tag)" >
                    Add </a>
                </div>
            </form>

            <div class="row" style="margin-top:20px;" >
                <div class="col-md-12">
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Tags for {{b.name}}
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
                                <thead>
                                    <tr>
                                        <th>
                                            id
                                        </th>
                                        <th>
                                            name
                                        </th>
                                        <th>
                                            valid
                                        </th>
                                        <th>
                                            delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="t in b.tags" >
                                        <td>
                                            {{t.Id}}
                                        </td>
                                        <td>
                                            {{t.name}}
                                        </td>
                                        <td>
                                            {{t.valid}
                                        </td>
                                        <td>
                                            <a href="" class="btn default btn-xs red" >
                                            <i class="fa fa-trash"></i> Delete </a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>