<style>.angular-google-map-container { height: 400px; }</style>
<h3 class="page-title">
Business Edit <small></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/business/list">Business List</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href>Business Edit</a>
        </li>
    </ul>
</div>


<!-- END PAGE HEADER-->
<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="active">
                    <a  href="#/business/edit/{{businesId}}" >
                    <i class="fa fa-cog"></i> Information </a>
                    <span class="after">
                    </span>
                </li>
                <li class="">
                    <a href="#/business/edittag/{{businesId}}" >
                    <i class="fa fa-cog"></i> Tags </a>
                </li>
                <li class="">
                    <a href="#/business/editadresse/{{businesId}}" >
                    <i class="fa fa-cog"></i> Adresse </a>
                </li>
                <li class="">
                    <a href="#/business/editprofileimage/{{businesId}}" >
                    <i class="fa fa-picture-o"></i> Profile & Cover Image </a>
                </li>
                <li class="">
                    <a href="#/business/editimage/{{businesId}}" >
                    <i class="fa fa-picture-o"></i> Images </a>
                </li>
                <li class="">
                    <a href="#/business/editinformation/{{businesId}}" >
                    <i class="fa fa-cog"></i> Additional Information </a>
                </li>
                <li>
                    <a  href="#/business/editopeninghour/{{businesId}}" >
                    <i class="fa fa-cog"></i> Opening Hours </a>
                </li>
                <li >
                    <a  href="#/business/coupon/{{businesId}}" >
                    <i class="fa fa-cog"></i> Add Coupon </a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
                <div id="tab_1-1" class="tab-pane active">
                    <form name="form" role="form" >
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" placeholder="" ng-model="name" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Tel</label>
                            <input type="text" class="form-control" placeholder="" ng-model="tel" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fax</label>
                            <input type="text" class="form-control" placeholder="" ng-model="tel" >
                        </div>
                        <div class="form-group">
                            <label class="control-label">Category</label>
                            <div class="col-md-12">
                                <ui-select ng-model="category.selected" theme="select2" style="min-width: 400px;" required>
                                    <ui-select-match placeholder="Select a Category">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="c in categories | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="c.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                            </div>
                        </div><br/> 
                        <div class="form-group">
                            <label class="control-label">Sub-category</label>
                            <div class="col-md-12">
                                <ui-select ng-model="sousCategory.selected" theme="select2" style="min-width: 400px;" required>
                                    <ui-select-match placeholder="Select a sub-Category">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="c in subCategories | propsFilter: {name: $select.search}">
                                      <div ng-bind-html="c.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                            </div>
                        </div><br/>
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" rows="8" ng-model="description" ></textarea>
                        </div>
                        
                        <div class="margiv-top-10">
                            <a href class="btn green" ng-click="editInfo(form.$valid)"   ng-disabled="disable">
                            Save Changes </a>
                            <a href="#/business/list"  class="btn default">
                            Cancel </a>
                        </div>
                        <div ng-show="disable">
                            <img src="assets/global/img/ring-alt.gif" alt="sdq" width="32"/>
                            Loading ...
                        </div>
                    </form>
                </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>