<h3 class="page-title">
	Business List <small> List of all business</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/business/list">Business List</a>
		</li>
	</ul>
</div>

<div class="row">
        <div class="col-md-6">
        <div class="btn-group">
            <a  class="btn sbold green" href="#/business/add2"> Add New Business
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <br/><br/><br/>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Business Comments : {{items[0].businessName}}</h3>
        </div>
        <div class="modal-body">
            <a href="#/business/comment/{{items[0].businessID}}">View All Comments</a>
            <div class="portlet light ">
                <div class="portlet-body" id="chats">
                    <div class="scroller" style="height: 100%;" data-always-visible="1" data-rail-visible1="1">
                        <ul class="chats" >
                            <li class="in" ng-repeat="c in items" >
                                <button class="btn default btn-xs red" confirm-button="deleteComment(c);" message="Are you sure to delete ?" yes="Delete" no="Cancel" ><i class="fa fa-trash"></i> Delete</button>
                                <img class="avatar" alt="avatar" ng-src="http://vynd-service-dev.azurewebsites.net{{c.user.imgURI}}"/>
                                
                                <div class="message">
                                    <span class="arrow">
                                    </span>
                                    <a href="javascript:;" class="name">
                                    {{c.user.name}} </a>
                                    <span class="datetime">
                                    at {{c.date}} - {{c.rate}}/5</span>
                                    <span class="body">
                                    {{c.content}} </span>
                                    
                                    <span class="body">
                                    funny:{{c.funny.number}} - negative:{{c.negative.number}} - positive:{{c.positive.number}}</span>
                                    
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    
	<div class="col-md-12">
        <div style="margin-left:40%" ng-show="finish" >
            <img src="assets/global/img/ring-alt.gif" alt="sdq"/>
            Loading Data...
        </div>
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Business List
				</div>
				<div class="tools">
					<a href="" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
					<thead>
						<tr>
                            <th>
								id
                            </th>
							<th>
								name
							</th>
                            <th>
								nbr comments
							</th>
                            <th>
								creation Date
							</th>
                            <th>
                                Action
                            </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="b in business.business" >
							<td ng-show="b.id" >
								{{b.id}}
							</td>
							<td ng-show="b.id">
								{{b.name}}
							</td>
							<td ng-show="b.id">
                                <button class="btn btn-default" ng-click="open(b.id, 'lg')">{{b.numberComments}}</button>
							</td>
                            <td ng-show="b.id">
								{{b.creationDate}}
							</td>
                            <td ng-show="b.id">
<!--                                <a href="" class="btn default btn-xs blue">
								<i class="fa fa-eye"></i> Preview </a> -->
                                <a href="#/business/detail/{{b.id}}" class="btn default btn-xs green">
								<i class="fa fa-search"></i> Detail </a>
                                <a href="#/business/edit/{{b.id}}" class="btn default btn-xs purple" >
								<i class="fa fa-edit"></i> Edit </a>
                                
                                <button class="btn default btn-xs red" confirm-button="delete(b.id, $index);" message="Are you sure to delete ?" yes="Delete" no="Cancel"><i class="fa fa-trash"></i> Delete</button>
                                
<!--                                <a href="" class="btn default btn-xs red" confirm="Are you sure to delete ?"  >
								<i class="fa fa-trash"></i> Delete </a>-->
                                
                                
                            </td>
						</tr>
					</tbody>
				</table>
                
			</div>
		</div>
		
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	TableAdvanced.init();

</script>
<!-- END MAIN JS -->
