<h3 class="page-title">
	Detail Tag
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Datatables</a>
            <i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Advanced Datatables</a>
		</li>
	</ul>
</div>
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Detail Tag
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload" data-original-title="" title=""></a>
        </div>
    </div>
    
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form  class="form-horizontal form-row-seperated">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Id</label>
                    <div class="col-md-9">
                        <label class="control-label">{{tag._id}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Name</label>
                    <div class="col-md-9">
                        <label class="control-label">{{tag.name}}</label>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a href="#/tag/edit/{{tag._id}}" class="btn green"><i class="fa fa-pencil"></i> Edit</a> 
                        <button class="btn default red" confirm-button="delete(tag);" message="Are you sure to delete ?" yes="Delete" no="Cancel"><i class="fa fa-trash"></i> Delete</button>
                        
                        <a href="#/tag/list" class="btn default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>