<h3 class="page-title">
	Tag List
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Datatables</a>
            <i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/datatables/advanced.html">Advanced Datatables</a>
		</li>
	</ul>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <a  class="btn sbold green" href="#/tag/add"> Add New Tag
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <br/><br/><br/>

	<div class="col-md-12">
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-globe"></i>Tag List
				</div>
				<div class="tools">
					<a href="javascript:;" class="reload"></a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="dtOptions">
					<thead>
						<tr>
							<th>
								id
							</th>
							<th>
								name
							</th>
                            <th>
                                actions
                            </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in tags" >
							<td>
								{{c._id}}
							</td>
							<td>
								{{c.name}}
							</td>
                            <td>
                                <a href="#/tag/detail/{{c.Id}}" class="btn default btn-xs green">
								<i class="fa fa-search"></i> Detail </a>
                                
                                <a href="#/tag/edit/{{c._id}}" class="btn default btn-xs purple" >
								<i class="fa fa-edit"></i> Edit </a>
                                
                                <button type="button" class="btn default btn-xs red" ng-click="delete(c)"  >
								<i class="fa fa-trash"></i> Delete </button>
                                
                                
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>
<script>
	TableAdvanced.init();
</script>
