<!doctype html>
<html>
<head>
    <title>Myle Social Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 style="color: blue;">Welcome To Myle.com</h1>
        <br/>
        
        <p><span class="fa fa-lock"></span> Login or Register with:</p>
        <br/>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a> &nbsp;
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>  &nbsp;
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> &nbsp; 
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a> &nbsp;
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        
        <br/>
        <br/>
        <br/>
        <br/>
    </div>


</div>
</body>
</html>
