.highlight{color:#E04F67;}
.angucomplete-holder {
        position: relative;
    }
.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
}
.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}
.angucomplete-description {
    font-size: 14px;
}
.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}
.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}
.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}
.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; // your preference
}