<div class="main-inner">
    <div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="user-photo">
                        <a href="#">
                            <img src="../../img/tmp/agent-2.jpg" alt="User Photo">
                        </a>
                    </div>
                </div>
                <div class="widget">

                    <ul class="menu-advanced">
                        <li class="active"><a href="listing-submit.html"><i class="fa fa-pencil"></i> Aperçu du profil</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Avis</a></li>
                        <li><a href="#"><i class="fa fa-key"></i> Photo du commerce</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Paramètres du compte</a></li>
                    </ul>
                </div><!-- /.widget -->

            </div><!-- /.sidebar -->
        </div><!-- /.col-* -->

        <div class="col-sm-8 col-lg-9">
            <div class="content">
                <div class="page-title">
                    <h1>Edit Profile</h1>
                </div><!-- /.page-title -->
<form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Contact Information
<button type="submit" class="btn btn-primary" style="margin-left:500px" ng-click="editProfile()" > Save </button>
                        
                    </h3>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Nom</label>
                            <input type="text" class="form-control" ng-model="data.firstName">
                        </div><!-- /.form-group -->

                        <div class="form-group col-sm-6">
                            <label>Prenom</label>
                            <input type="text" class="form-control"  ng-model="data.lastName">
                        </div><!-- /.form-group -->
                        
                        <div class="form-group col-sm-6">
                            <label>Age</label>
                            <input type="text" class="form-control"  ng-model="data.age" >
                        </div><!-- /.form-group -->

                        <div class="form-group col-sm-6">
                            <label>Telephone</label>
                            <input type="text" class="form-control" ng-model="data.tel">
                        </div><!-- /.form-group -->
                        
                        
                    </div><!-- /.row -->
                </div>
                </form>
                <form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Social Connections

                       <button type="submit" class="btn btn-primary" style="margin-left:500px" ng-click="editProfile2()" > Save </button>
                    </h3>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Facebook</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="data.facebook">
                            </div><!-- /.col-* -->
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Google+</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="data.google">
                            </div><!-- /.col-* -->
                        </div><!-- /.form-group -->

                      
                    </div><!-- /.form-inline -->
                </div><!-- /.background-white -->
                </form>
                <form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Adresse
<button type="submit" class="btn btn-primary" style="margin-left:500px" ng-click="editProfile3()" > Save </button>
                        
                    </h3>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>gouvernerat</label>
                            <input type="text" class="form-control" ng-model="data.gouvernera">
                        </div><!-- /.form-group -->

                       <div class="form-group col-sm-6">
                            <label>Délegation</label>
                            <input type="text" class="form-control" ng-model="data.delegation">
                        </div><!-- /.form-group--> 

                        <div class="form-group col-sm-6">
                            <label>Adresse</label>
                            <input type="text" class="form-control" ng-model="data.adresse">
                        </div><!-- /.form-group-->

                        <div class="form-group col-sm-3">
                            <label>Code Postale</label>
                            <input type="text" class="form-control" ng-model="data.codePostale">
                        </div><!-- /.form-group --> 
                    </div><!-- /.row -->
                </div>

                </form>

            </div><!-- /.content -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.container -->
</div>