<div class="main-inner">
    <div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar">
                <div class="widget">
                    <div class="user-photo">
                        <img src="../../img/user/{{data.profileImage}}" alt="User Photo">
                        <input type="file" ng-model="img" base-sixty-four-input 
                            accept="image/*" 
                            maxsize="4000" name="img" />
                        <br/>
                        <button class="btn btn-primary" ng-click="updateImage(img)" >Ajouter/Modifier photo de profil</button>
                    </div>
                </div>
            </div><!-- /.sidebar -->
        </div><!-- /.col-* -->

        <div class="col-sm-8 col-lg-9">
            <div class="content">
                <div class="page-title">
                    <h1>Edit Profile</h1>
                </div><!-- /.page-title -->
<form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Contact Information
<button type="submit" class="btn btn-primary" style="margin-left:500px" ng-click="editProfile()" > Save </button>
                        
                    </h3>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Nom</label>
                            <input type="text" class="form-control" ng-model="data.firstName">
                        </div><!-- /.form-group -->

                        <div class="form-group col-sm-6">
                            <label>Prenom</label>
                            <input type="text" class="form-control"  ng-model="data.lastName">
                        </div><!-- /.form-group -->
                        
                        <div class="form-group col-sm-6">
                            <label>Age</label>
                            <input type="text" class="form-control"  ng-model="data.age" >
                        </div><!-- /.form-group -->

                        <div class="form-group col-sm-6">
                            <label>Telephone</label>
                            <input type="text" class="form-control" ng-model="data.tel">
                        </div><!-- /.form-group -->
                        
                        
                    </div><!-- /.row -->
                </div>
                </form>
                
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Modifier votre mot de passe
<button type="submit" class="btn btn-primary" style="margin-left:720px;margin-top:-60px" ng-click="editPassword()" > Save </button>
                        
                    </h3>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Nouveau mot de passe
                                </label>
                                <input type="password" class="form-control" ng-model="data.password" >
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Vérifier nouveau mot de passe</label>
                                <input type="password" class="form-control" ng-model="data.RePassword">
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->
                    </div>
                
                <form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Social Connections

                       <button type="submit" class="btn btn-primary" style="margin-left:500px" ng-click="editProfile2()" > Save </button>
                    </h3>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Facebook</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="data.facebook">
                            </div><!-- /.col-* -->
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Google+</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="data.google">
                            </div><!-- /.col-* -->
                        </div><!-- /.form-group -->

                      
                    </div><!-- /.form-inline -->
                </div><!-- /.background-white -->
                </form>
                <form>
                <div class="background-white p20 mb30">
                    <h3 class="page-title">
                        Adresse
<button type="submit" class="btn btn-primary" style="margin-left:710px" ng-click="editProfile3()" > Save </button>
                        
                    </h3>

                    <div class="row">
                        <div class="form-group col-sm-6">
                    <div class="col-md-9">
                        <ui-select ng-model="gouvernera.selected" theme="select2" style="min-width: 300px;" required>
                            <ui-select-match placeholder="Selectioner un Gouvernerat">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="c in gouverneras | propsFilter: {name: $select.search}">
                              <div ng-bind-html="c.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                    </div>
                        </div><!-- /.form-group -->

                       <div class="form-group col-sm-6">
                            <div class="col-md-9">
                        <ui-select ng-model="delegation.selected" theme="select2" style="min-width: 300px;" required>
                            <ui-select-match placeholder="Selectionner une Délegation">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="d in delegations | propsFilter: {name: $select.search}">
                              <div ng-bind-html="d.name | highlight: $select.search"></div>
                            </ui-select-choices>
                          </ui-select>
                    </div>
                        </div><!-- /.form-group--> 

                        <div class="form-group col-sm-6" style="margin-left:30px">
                            <label>Adresse</label>
                            <input type="text" class="form-control" ng-model="data.adresse">
                        </div><!-- /.form-group-->

                        <div class="form-group col-sm-3">
                            <label>Code Postale</label>
                            <input type="text" class="form-control" ng-model="data.codePostale">
                        </div><!-- /.form-group --> 
                    </div><!-- /.row -->
                </div>

                </form>

            </div><!-- /.content -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.container -->
</div>