<div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <div class="sidebar">
                    <div class="widget">
                        <div class="user-photo">
                            <img src="../../img/tmp/agent-2.jpg" alt="User Photo">
                            <input type="file">
                            <br/>
                            <a href="">Ajouter/Modifier photo de profil</a>
                        </div>
                    </div>

                    <div class="widget">

                        <ul class="menu-advanced">
                            <li><a href="listing-submit.html"><i class="fa fa-pencil"></i> Aperçu du profil</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> Avis</a></li>
                            <li><a href="#"><i class="fa fa-key"></i> Photo du commerce</a></li>
                            <li class="active"><a href="#"><i class="fa fa-sign-out"></i> Paramètres du compte</a></li>
                        </ul>
                    </div><!-- /.widget -->

                </div><!-- /.sidebar -->
            </div><!-- /.col-* -->

            <div class="col-sm-8 col-lg-9">
                <div class="content">
                    <div class="page-title">
                        <h1>Paramètres du compte</h1>
                        <p>Qui êtes-vous ? Présentez-vous à la communauté Myle.</p>
                    </div><!-- /.page-title -->

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Modifier votre profil
                            <a href="#" class="btn btn-primary btn-xs pull-right">Enregistrer</a>
                        </h3>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Prénom</label>
                                <input type="text" class="form-control" value="John">
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Nom</label>
                                <input type="text" class="form-control" value="Doe">
                            </div><!-- /.form-group -->



                            <div class="form-group col-sm-6">
                                <label>Adresse </label>
                                <input type="text" class="form-control" value="Tunis, El Menzah, El Manar 2, 1082">
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Téléphone </label>
                                <input type="text" class="form-control" value="21 84 45 85">
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Date de naissance </label>
                                <input type="date" class="form-control">
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Sexe</label>
                                <div class="radio">
                                    <input id="Homme" type="radio" name="sex" value="Homme" checked="true"><label for="Homme">Homme</label>
                                    <input id="Femme" type="radio" name="sex" value="Femme"><label for="Femme">Femme</label>
                                </div>
                            </div><!-- /.form-group -->

                        </div><!-- /.row -->
                    </div>

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Modifier votre mot de passe
                            <a href="#" class="btn btn-primary btn-xs pull-right">Enregistrer</a>
                        </h3>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Mot de passe actuel</label>
                                <input type="password" class="form-control" value="John">
                            </div><!-- /.form-group -->
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Nouveau mot de passe
                                </label>
                                <input type="password" class="form-control" >
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Vérifier nouveau mot de passe</label>
                                <input type="password" class="form-control" >
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->
                    </div>

                    <div class="background-white p20 mb30">
                        <h3 class="page-title">
                            Application externes
                        </h3>

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Facebook</label>
                                <div class="col-sm-9">
                                    <a class="btn btn-primary" style="background-color: #3B5998; width: 35%;">
                                        <span class="fa fa-facebook"></span> Se connecter à Facebook
                                    </a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Twitter</label>
                                <div class="col-sm-9">
                                    <a class="btn btn-primary" style="background-color: #55ACEE; width: 35%;">
                                        <span class="fa fa-twitter"></span> Se connecter à Twitter
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.form-inline -->
                    </div><!-- /.background-white -->

                </div><!-- /.content -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.main-inner -->
