<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>A propos</h2>

                <p>Myle est une plateforme communautaire et participative de partage d’avis,
d’expériences et d’information en ligne qui regroupe tous les commerces et les
services de proximité en Tunisie.</p>
            </div>
            <!-- /.col-* -->

            <div class="col-sm-4">
                <h2>Contacter nous</h2>

                <p>
                    ESPRIT - Chotrana II - 2083 Pôle Technologique - El Ghazala
                    <br> +216 52 255 732 
                </p>
            </div>
            <!-- /.col-* -->

            <div class="col-sm-4">
                <h2>Rester Connecter</h2>

                <ul class="social-links nav nav-pills">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/MyleCommunity/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
                <!-- /.header-nav-social -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.footer-top -->

<div class="footer-bottom" >
    <div class="container" style="margin-bottom:50px">
        <div class="footer-bottom-left">
            &copy; 2016 Tout droit reservé.
        </div>
        <!-- /.footer-bottom-left -->

        <div class="footer-bottom-right">
            <ul class="nav nav-pills">
                <li><a href="/#/home">Accueil</a></li>
                <li><a href="terms-conditions.html">Termes &amp; Conditions</a></li>
                <li><a href="/#/contact">Contact</a></li>
            </ul>
            <!-- /.nav -->
        </div>
        <!-- /.footer-bottom-right -->
    </div>
    <!-- /.container -->
</div>

<style>
.chat-window {
    position: fixed;
    right: 0;
    bottom: 0;
    max-height: 600px;
    height: auto;
    width: 320px;
    color: black;
}


.chat-window.minimized {
    height: 40px;
}

.chat-top-bar {
    height: 40px;
}

.chat-bottom-bar {
    height: 60px;
}

.msg-container-base {
    height: auto;
    max-height: 500px;
}

.panel-body {
    padding: 0;
}
    
    
.my-custom-chat-theme > .chat-window{
  float: right;
}


.chat-container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
}

</style>
<div ng-controller="ChatCtrl" >
<div class="chat-container"  >
    <irontec-simple-chat
        messages="messages"
        username="username"
        input-placeholder-text="Vous pouvez écrire ici"
        submit-button-text="Envoyer un message"
        title="Myle chat"
        theme="material"
        submit-function="sendMessage"
        visible="true"
        expand-on-new="true"
                         >
    </irontec-simple-chat>
    <!-- expand-on-new="false" -->
  </div>
</div>