<style>


</style>

<div class="header-wrapper">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                <a href="/#/home">
                    <img src="img/logo32x32-with-text.png" alt="Logo">
                </a>
            </div>
            <!-- /.header-logo -->

            <div class="header-content">
                <div class="header-bottom">
                    <div class="header-action">
                        <a href="/#/business/requestAdd" class="header-action-inner" title="Ajouter un commerce" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-plus"></i>
                        </a>
                        <!-- /.header-action-inner -->
                    </div>
                    <!-- /.header-action -->

                    <ul class="header-nav-primary nav nav-pills collapse navbar-collapse" ng-controller="HeaderCtrl" >
                        <li  >
                            <div class="input-group" style="margin-top: 10px; width: 240px;">
                                <div angucomplete-alt 
  placeholder="Rechercher café, restaurant, boulangerie, coiffeur..."
  pause="500"
  selected-object="selectedTag"
  remote-url="http://localhost:5000/api/tag/search"
  remote-url-request-formatter="remoteUrlRequestFn"
  title-field="name"
  minlength="2"
  input-class="form-control form-control-small"
  match-class="highlight"
  auto-match="true"
  initial-value="defaultTag"

                                          ></div>
                            </div>
                        </li>

                        <li >
                            <div class="input-group" style="margin-top: 10px; width: 240px; margin-left: 10px;">
                                <div angucomplete-alt 
  placeholder="A proximité de : Adresse, Ville, Département, Code postale"
  pause="500"
  selected-object="selectedAddress"
  remote-url="http://localhost:5000/api/address/search"
  remote-url-request-formatter="remoteUrlRequestFn"
  title-field="name"
  minlength="2"
  input-class="form-control form-control-small"
  match-class="highlight"
  auto-match="true"
  initial-value="defaultAdress"
                                          >
                                            </div>

<!--                                <span class="input-group-addon" data-toggle="tooltip" title="trouver ma position automatiquement" data-placement="bottom" >
                                    <i class="fa fa-map-marker" style="font-size:16px; padding: 0px; margin: 0px;"></i>
                                </span>
                                <input type="text" placeholder="A proximité de : Adresse, Ville, Département, Code postale" class="form-control">-->

                            </div>
                        </li>

                        <li  >
                            <div class="header-nav-user" style="float: none; margin-top:10px; margin-left: 20px;">
                                <div class="dropdown">
                                    <button class="btn btn-primary " type="submit" ng-click="touverPosition()" data-toggle="tooltip"  title="trouver ma position automatiquement" style="background-color:#337ab7 !important" data-placement="bottom" >
                                    <i class="fa fa-map-marker" style="font-size:14px" > </i> &nbsp&nbsp
                                    </button>

                                    <button class="btn btn-default dropdown-toggle" type="button"  aria-haspopup="true" aria-expanded="false" style="border: 0px;" ng-click="search()" >
                                        <div class="user-image">
                                            <img src="../../img/tmp/search.png">
                                        </div><!-- /.user-image -->
                                    </button>
                                </div><!-- /.dropdown -->
                            </div>
                        </li>

                        <li  ng-show="!AuthenticatedUser" >
                           
                            <a href class="dropdown-toggle" data-toggle="dropdown"><b>Se connecter</b> <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <div class="row" ng-controller="SigninCtrl">
                                        <div class="col-md-12">
                                            Se connecter avec
                                            <div class="social-buttons">
                                                <a href class="btn btn-fb" style="color: white" ng-click="createUserFacebook()" >
                                                    <i class="fa fa-facebook" style="margin-left: 0px; font-size: 16px; vertical-align: 0px;"></i>
                                                     <b>Facebook</b>
                                                </a>
                                            </div>
                                            Ou
                                            <form class="form" role="form" accept-charset="UTF-8" id="login-nav" >
                                                <div class="form-group">
                                                    <label class="sr-only" >Email</label>
                                                    <input  class="form-control"  placeholder="email" required ng-model="l.username" type="email" >
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" >Mot de passe</label>
                                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Mot de passe" required ng-model="l.password">
                                                    <div class="help-block text-right"><a href="#/login/forgot_password">Mot de passe oublié ?</a></div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block" ng-click="authetificationUser(l)">Se connecter</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center">
                                            Vous ne possédez pas encore de compte ? <a href="#/login/sign_up2"><strong style="color: black">S'inscrire</strong></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                                
                        </li>

                        <li ng-show="!AuthenticatedUser" >
                            <a href="#/login/sign_up2">
                                <b>Inscription</b>
                            </a>
                        </li>
                        
                        <li ng-show="AuthenticatedUser"  >
                            <div class="header-nav-user" style="float: none; margin-top:10px; margin-left: 20px;">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border: 0px;">
                                        <div class="user-image">
                                            <img src="../../img/user/{{AuthenticatedUser.profileImage}}">
                                        </div>

                                        <span class="header-nav-user-name">{{AuthenticatedUser.firstName}}</span> <i class="fa fa-chevron-down"></i>
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#/user/profile">Modifier son profile</a></li>
                                        <li><a href="listing-submit.html">Submit Listing</a></li>
                                        <li><a href ng-click="logOut();"  >Déconnexion</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        

                    </ul>

                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- /.header-bottom -->
            </div>
            <!-- /.header-content -->
        </div>
        <!-- /.header-inner -->
    </div>
    <!-- /.container -->
</div>