<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="lib/owl-carousel/assets/owl-carousel.css" rel="stylesheet" type="text/css">
<link href="lib/colorbox/example1/colorbox.css" rel="stylesheet" type="text/css">
<link href="lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<link href="lib/bootstrap-fileinput/fileinput.min.css" rel="stylesheet" type="text/css">
<link href="lib/angular/pretty-checkable/pretty-checkable.css" rel="stylesheet" type="text/css">
<link href="css/superlist.css" rel="stylesheet" type="text/css">

<link href="css/auto-complete.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->

<link href="lib/angular/toaster/toaster.css" rel="stylesheet" type="text/css">
<link href="css/custom.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="lib/angular/toaster/toaster.css" type="text/css" >
<link rel="stylesheet" href="lib/angular/angular-ui-select/select.min.css" type="text/css" >
<link rel="stylesheet" href="lib/angular/select2/select2.css" type="text/css" >
<link rel="stylesheet" href="lib/angular/select2/select2-bootstrap.css" type="text/css" >


<title>Myle - Make Your Life Easier</title>


