<div class="main-inner">
    <div class="container">
        <div class="content">



            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="page-title">
                        <h1>Mot de passe oublié</h1>
                        <p>Veuillez entrer votre adresse électronique et nous vous enverrons un email vous indiquant comment redéfinir votre mot de passe.</p>
                    </div><!-- /.page-title -->
                    <form method="post" action="http://preview.byaviators.com/template/superlist/login.html?">
                        <div class="form-group">
                            <label for="login-form-email">Adresse e-mail</label>
                            <input type="email" class="form-control" name="email" id="login-form-email">
                        </div><!-- /.form-group -->
                        <button type="submit" class="btn btn-primary" style="width: 50%;">Réinitialiser le mot de passe</button>
                    </form>
                    <hr/>
                    <p style=" color: slategray; margin-top: 7px;"><a href="#/login/sign_in">Retourner à la page de connexion</a></p>
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->

        </div><!-- /.content -->
    </div><!-- /.container -->
</div>