<div class="main-inner">
    <div class="container">
        <div class="content">



            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="page-title">
                        <h1>Connectez-vous à Myle</h1>
                        <p>Nouveau sur Myle ? <a href="#/login/sign_up">S’inscrire</a> </p>
                    </div><!-- /.page-title -->
                    <div class="center">
                        <a class="btn btn-primary" style="background-color: #3B5998; width: 50%;" ng-click="createUserFacebook()" >
                            <span class="fa fa-facebook"></span> Connexion avec Facebook
                        </a><br/>
                        <h5>Ou</h5>
                        <a class="btn btn-primary" style="background-color: #DD4B39; width: 50%;" href ng-click="createUserGoogle()">
                        <span class="fa fa-google"></span> Inscivez-vous avec Google
                        </a><br/>
                        <p style="font-size: 10px;">Ne vous inquiétez pas, nous ne publions rien sans votre autorisation.</p>
                    </div>

                    <hr/>
                    <form>
                        <div class="form-group">
                            <label for="login-form-email">Adresse Email</label>
                            <input  class="form-control" name="adresse email" ng-model="l.username" type="email" >
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="login-form-password">Mot de passe</label>
                            <input type="password" class="form-control" name="password" id="login-form-password" ng-model="l.password">
                            <div class="help-block text-right"><a href="#/login/forgot_password">Vous avez oublié votre mot de passe ?</a></div>
                        </div><!-- /.form-group -->

                        <button type="submit" class="btn btn-primary" style="width: 50%;" ng-click="authetificationUser(l)">Connexion</button>
                    </form>
                    <hr/>
                    <p style=" color: slategray; margin-top: 7px;">Nouveau sur Myle ? <a href="#/login/sign_up"> S’inscrire</a></p>
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->

        </div><!-- /.content -->
    </div><!-- /.container -->
</div>