<div class="main-inner">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="content">
                    <div class="page-title">
                        <h1>Inscrivez-vous sur Myle</h1>
                        <p>
                            et entrez en contact avec les meilleurs commerces locaux
                        </p>
                    </div>

                    <div class="background-white p30 mb30">
                        <h3 class="page-title center">
                            <a class="btn btn-primary" style="background-color: #3B5998; width: 50%;" href ng-click="createUserFacebook()">
                                <span class="fa fa-facebook"></span> Inscivez-vous avec Facebook
                            </a><br/>
                            <p style="font-size: 10px;">Ne vous inquiétez pas, nous ne publions rien sans votre autorisation.</p>
                            <p>Ou</p>
                        </h3>
                        <form>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>E-mail</label>
                                <input type="text" class="form-control" value="sample@example.com" ng-model="email">
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label>Mot de passe</label>
                                <input type="password" class="form-control" placeholder="Mot de passe" ng-model="password">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group col-sm-6">
                                <label>Nom</label>
                                <input type="text" class="form-control" placeholder="exemple: 7000"  ng-model="firstName">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Prènom</label>
                                <input type="text" class="form-control" placeholder="exemple: 7000"  ng-model="lastName">
                            </div>
                        </div>
                            </form>

                        <p>En vous inscrivant, vous acceptez les <a href=""> conditions d'utilisation</a> ainsi que la <a href=""> Vie privée</a> de Myle.</p>
                        <div class="center">
                            <button type="submit" class="btn btn-primary" style="width: 50%;" ng-click="createUser()">S'inscrire</button>
                        </div>

                        <p style="float: right; color: slategray; margin-top: 7px;">Déjà membre Myle ? <a href="#/login/sign_in">Connexion</a></p>
                        <div class="clearfix"></div>



                    </div><!-- /.box -->


                </div><!-- /.content -->
            </div><!-- /.col-* -->



        </div><!-- /.row -->
    </div><!-- /.container -->
</div>



