<div class="main-inner">
    
        



            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="page-title">
                        <h1>Terms &amp; Conditions</h1>
                       
                    </div><!-- /.page-title -->
                    <div class="center">
                      <h3> Nous aimerions recevoir de vos nouvelles.Dites nous bonjour!</h3>
                    </div>

                    <hr/>
                    
                      
                   
                    <div class="contact-form-wrapper clearfix background-white p30">
    <ol>
    <li>
        Myle a été fondée en 2016 pour aider les gens à trouver de grandes entreprises locales comme les dentistes, les coiffeurs et les mécaniciens ...
    </li>

    <li>
        En plus des commentaires, vous pouvez utiliser Myle pour trouver des événements, des listes de commerces et de parler avec d'autres Mylers.
    </li>

    <li>
        Chaque propriétaire d'une entreprise (ou gestionnaire) peut configurer un compte gratuit pour publier des photos et des messages de leurs clients.
    </li>

    <li>
       Myle fait de l'argent en vendant des annonces aux entreprises locales - vous verrez ces clairement étiquetés "Myle annonces" autour du site.
    </li>

</ol>
</div>
                    
                  
                    
                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->

        
    
</div>

