
<div class="main-inner">
        <div class="content">

            <div class="mt-80">
                <div class="hero-image">
                    <div class="hero-image-inner" style="background-image: url('img/tmp/slider-large-3.jpg');">
                        <div class="hero-image-content">
                            <div class="container">
                                <!-- <h1>Rechercher n'importe quoi, n'importe ou en Tunisie</h1> -->
                                <h2 style="color: white" >Myle est le meilleur moyen de trouver les meilleurs commerces locaux</h2>
                                <form >
                                    <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <div angucomplete-alt 
  placeholder="Rechercher café, restaurant, boulangerie, coiffeur..."
  pause="500"
  selected-object="selectedTag"
  remote-url="http://localhost:5000/api/tag/search"
  remote-url-request-formatter="remoteUrlRequestFn"
  title-field="name"
  minlength="2"
  input-class="form-control form-control-small"
  match-class="highlight"
  auto-match="true"
  initial-value="defaultTag"

                                          ></div>
                                            <!--<input type="text" placeholder="Rechercher café, restaurant, boulangerie, coiffeur..." class="form-control" ng-model="tag" >-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
<div angucomplete-alt 
  placeholder="A proximité de : Adresse, Ville, Département, Code postale"
  pause="500"
  selected-object="selectedAddress"
  remote-url="http://localhost:5000/api/address/search"
  remote-url-request-formatter="remoteUrlRequestFn"
  title-field="name"
  minlength="2"
  input-class="form-control form-control-small"
  match-class="highlight"
  auto-match="true"
  initial-value="defaultAdress"
  id="16"
                                          >
                                            </div>   

                      <!--                      <input type="text" placeholder="A proximité de : Adresse, Ville, Département, Code postale" class="form-control">
                                            <span class="input-group-addon" style="background-color:white" data-toggle="tooltip" title="trouver ma position automatiquement"><i class="fa fa-map-marker"></i></span>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <button class="btn btn-primary " type="submit" ng-click="touverPosition()" data-toggle="tooltip"  title="trouver ma position automatiquement" >
                                                <i class="fa fa-map-marker" ></i>
                                            </button>
                                            <button class="btn btn-primary" type="submit" ng-click="search()" >Lancer la recherche</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="page-header">
                    <h1>Activité récente</h1>
                </div>
                <ul class="cbp_tmtimeline">
                    <li ng-repeat="n in newsFeed | limitTo:limit" >
                        <time class="cbp_tmtime" datetime="09:30"><span am-time-ago="n.created_at"></span>
                        <span>{{n.created_at | date:'hh:mm'}}</span></time>
                        <div class="cbp_tmicon"><i class="fa fa-edit"></i> </div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs"><a href="#/user/detail/{{n.userId._id}}"><strong>{{n.userId.firstName}} {{n.userId.lastName}}</strong></a><img ng-src="../../img/user/{{n.userId.profileImage}}" alt="" class="img-circle speaker"></div>
                            <h2><span>a écrit un avis pour <a href="#/business/info/{{n.businessId._id}}">{{n.businessId.name}}</a></span>&nbsp;</h2>
                            <p>
                                {{n.content}}<br/><br/>
                                <a ng-repeat="im in n.commentImage" href="../../img/bimg/{{im.uri}}" colorbox="{rel:'group'}" class="group" >
                                    <img  ng-src="../../img/bimg/{{im.uri}}" height="128" width="128"  />
                                </a>
                            </p>
                        </div>
                    </li>
<!--                    <li>
                        <time class="cbp_tmtime" datetime="09:22"><span>35 minutes</span> <span>09:30</span></time>
                        <div class="cbp_tmicon"><i class="fa fa-picture-o"></i> </div>
                        <div class="cbp_tmlabel">
                            <div class="pull-right hidden-xs"><a href=""><strong>Rim Aifa</strong></a><img src="../../img/tmp/agent-2.jpg" alt="" class="img-circle speaker"></div>
                            <h2><span>a ajouté une photo à <a href="">La Brasa</a></span>&nbsp;</h2>
                            <p>
                                <img src="../../img/tmp/food/1.jpg" height="200" width="200" />
                                <img src="../../img/tmp/food/2.jpg" height="200" width="200" />
                                <img src="../../img/tmp/food/3.jpg" height="200" width="200" />
                            </p>
                        </div>
                    </li>-->
                </ul>
                <div class="center" >
                    <button class="btn" ng-click="plus()" >Voire l'actualité récente</button>
                </div>
                <br/><br/>


                <div class="block background-white fullwidth">
                    <div class="page-header">
                        <h1>Nouveaux commerces à {{aName}}</h1>
                    </div>
                    <!-- /.page-header -->

                    <div class="row">
                        <div class="col-sm-6 col-md-3" ng-repeat="nb in newbusiness" >
                            <div class="card-simple" ng-style="{'background-image':'url(../../img/bimg/'+nb.profileImage+')'}">
                                <div class="card-simple-background">
                                    <div class="card-simple-content">
                                        <h2><a href="#/business/info/{{nb._id}}">{{nb.name}}</a></h2>
                                        <div class="card-simple-rating">
                                            <i class="fa fa-star" ng-repeat="s in [] | range:nb.rate" ></i><i class="fa fa-star-o" ng-repeat="s in [] | range:(5-(nb.rate))" ></i>
                                        </div>
                                        <div class="card-simple-actions">
                                            <a href="#/business/info/{{nb._id}}" class="fa fa-search"></a>
                                            <a ng-if="!nb.isLiked" href class="fa fa-heart" ng-click="like(nb)"></a>
                                            <a ng-if="nb.isLiked" href style="color:red" class="fa fa-heart" ng-click="unlike(nb)" ></a>
                                        </div>
                                    </div>
                                    <div class="card-simple-label">{{nb.category}}</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="block background-white fullwidth pt0 pb0">
                        <div class="partners">
                            <a href="#">
                                <i class="fa fa-coffee fa-5x"></i>
                                <br/>Cafée
                            </a>
                            <a href="#">
                                <i class="fa fa-cutlery fa-5x"></i>
                                <br/>Alimentation
                            </a>
                            <a href="#">
                                <i class="fa fa-glass fa-5x"></i>
                                <br/>Vie nocturne
                            </a>
                            <a href="#">
                                <i class="fa fa-shopping-bag fa-5x"></i>
                                <br/>Shopping
                            </a>
                            <a href="#">
                                <i class="fa fa fa-scissors fa-5x"></i>
                                <br/>Sallon de beauté & Spa
                            </a>
                        </div>
                    </div>


                </div>





                <div class="block background-white background-transparent-image fullwidth">
                    <div class="page-header">
                        <h1>Deal en cours</h1>
                    </div><!-- /.page-header -->

                    <div class="cards-wrapper">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card" data-background-image="../img/cimg/{{firstCoupon.image}}" style="background-image: url('./img/cimg/{{firstCoupon.image}}');">
                                            <div class="card-label">
                                                <a href="listing-detail.html">{{firstCoupon.businessId.category}}</a>
                                            </div>
                                            <div class="card-content">
                                                <h2><a href="listing-detail.html">{{firstCoupon.businessId.name}}</a>
                                                    <br/><span class="clock1"></span>
                                                </h2>
                                                <div class="card-meta">
                                                    <i class="fa fa-map-o"></i> {{firstCoupon.businessId.adress}}<br/>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fa fa-star" ng-repeat="s in [] | range:firstCoupon.businessId.rate" ></i><i class="fa fa-star-o" ng-repeat="s in [] | range:(Math.round(5-(firstCoupon.businessId.rate)))" ></i>
                                                </div>
                                                <h2>
                                                    {{firstCoupon.prix}}<sup>DT</sup>
                                                    <samp style="text-decoration:line-through; font-size:14px" >
                                                        {{firstCoupon.prixInitial}}<sup>DT</sup>
                                                    </samp>
                                                    {{firstCoupon.remise | number:0}}% de Réduction
                                                </h2>
                                                

                                                <div class="card-actions">
                                                    <a href="#/business/info/{{firstCoupon.businessId._id}}" class="fa fa-search"></a>
                                                    <a ng-if="!firstCoupon.businessId.isLiked" href class="fa fa-heart" ng-click="like(firstCoupon.businessId)"></a>
                                                    <a ng-if="firstCoupon.businessId.isLiked" href style="color:red" class="fa fa-heart" ng-click="unlike(firstCoupon.businessId)" ></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card" data-background-image="../img/cimg/{{secondCoupon.image}}" style="background-image: url('./img/cimg/{{secondCoupon.image}}');">
                                            <div class="card-label">
                                                <a href="listing-detail.html">{{secondCoupon.businessId.category}}</a>
                                            </div>
                                            <div class="card-content">
                                                <h2><a href="listing-detail.html">{{secondCoupon.businessId.name}}</a>
                                                    <br/><span class="clock2"></span>
                                                </h2>
                                                <div class="card-meta">
                                                    <i class="fa fa-map-o"></i> {{secondCoupon.businessId.adress}}<br/>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fa fa-star" ng-repeat="s in [] | range:secondCoupon.businessId.rate" ></i><i class="fa fa-star-o" ng-repeat="s in [] | range:(Math.round(5-(secondCoupon.businessId.rate)))" ></i>
                                                </div>
                                                <h2>
                                                    {{secondCoupon.prix}}<sup>DT</sup>
                                                    <samp style="text-decoration:line-through; font-size:14px" >
                                                        {{secondCoupon.prixInitial}}<sup>DT</sup>
                                                    </samp>
                                                    {{secondCoupon.remise}}% de Réduction
                                                </h2>

                                                <div class="card-actions">
                                                    <a href="#/business/info/{{secondCoupon.businessId._id}}" class="fa fa-search"></a>
                                                    <a ng-if="!secondCoupon.businessId.isLiked" href class="fa fa-heart" ng-click="like(secondCoupon.businessId)"></a>
                                                    <a ng-if="secondCoupon.businessId.isLiked" href style="color:red" class="fa fa-heart" ng-click="unlike(secondCoupon.businessId)" ></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="card" data-background-image="../img/cimg/{{therdCoupon.image}}" style="background-image: url('./img/cimg/{{therdCoupon.image}}');">
                                            <div class="card-label">
                                                <a href="listing-detail.html">{{therdCoupon.businessId.category}}</a>
                                            </div>
                                            <div class="card-content">
                                                <h2><a href="listing-detail.html">{{therdCoupon.businessId.name}}</a>
                                                    <br/><span class="clock3"></span>
                                                </h2>
                                                <div class="card-meta">
                                                    <i class="fa fa-map-o"></i> {{therdCoupon.businessId.adress}}<br/>
                                                </div>
                                                <div class="card-rating">
                                                    <i class="fa fa-star" ng-repeat="s in [] | range:therdCoupon.businessId.rate" ></i><i class="fa fa-star-o" ng-repeat="s in [] | range:(Math.round(5-(therdCoupon.businessId.rate)))" ></i>
                                                </div>
                                                <h2>
                                                    {{therdCoupon.prix}}<sup>DT</sup>
                                                    <samp style="text-decoration:line-through; font-size:14px" >
                                                        {{therdCoupon.prixInitial}}<sup>DT</sup>
                                                    </samp>
                                                    {{therdCoupon.remise}}% de Réduction
                                                </h2>

                                                <div class="card-actions">
                                                    <a href="#/business/info/{{therdCoupon.businessId._id}}" class="fa fa-search"></a>
                                                    <a ng-if="!therdCoupon.businessId.isLiked" href class="fa fa-heart" ng-click="like(therdCoupon.businessId)"></a>
                                                    <a ng-if="therdCoupon.businessId.isLiked" href style="color:red" class="fa fa-heart" ng-click="unlike(therdCoupon.businessId)" ></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->
                            </div><!-- /.col-* -->

                            <div class="col-sm-4">
                                <div class="card card-tall" data-background-image="../img/cimg/{{fourCoupon.image}}" style="background-image: url('../img/cimg/{{fourCoupon.image}}');">
                                    <div class="card-label">
                                        <a href="listing-detail.html">{{fourCoupon.businessId.category}}</a>
                                    </div>
                                    <div class="card-content">
                                        <h2><a href="listing-detail.html">{{fourCoupon.businessId.name}}</a>
                                            <br/><span class="clock4"></span></h2>
                                        <div class="card-meta">
                                            <i class="fa fa-map-o"></i> {{fourCoupon.businessId.adress}}
                                        </div>
                                        <div class="card-rating">
                                            <i class="fa fa-star" ng-repeat="s in [] | range:fourCoupon.businessId.rate" ></i><i class="fa fa-star-o" ng-repeat="s in [] | range:(Math.round(5-(fourCoupon.businessId.rate)))" ></i>
                                        </div>
                                        <h2>
                                            {{fourCoupon.prix}}<sup>DT</sup>
                                            <samp style="text-decoration:line-through; font-size:14px" >
                                                {{fourCoupon.prixInitial}}<sup>DT</sup>
                                            </samp>
                                            {{fourCoupon.remise}}% de Réduction
                                        </h2>
                                        <div class="card-actions">
                                            <a href="#/business/info/{{fourCoupon.businessId._id}}" class="fa fa-search"></a>
                                            <a ng-if="!fourCoupon.businessId.isLiked" href class="fa fa-heart" ng-click="like(fourCoupon.businessId)"></a>
                                            <a ng-if="fourCoupon.businessId.isLiked" href style="color:red" class="fa fa-heart" ng-click="unlike(fourCoupon.businessId)" ></a>
                                        </div>
                                    </div>
                                </div>

                                




                            </div><!-- /.col-* -->
                        </div><!-- /.row -->
                    </div><!-- /.cards-wrapper -->

                </div>



                <div class="block background-white fullwidth mt80 mb-80">
                    <div class="categories">
                        <ul>
                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-bed"></i> Stay</a>
                                <ul>
                                    <li><a href="#">Homestay</a>,</li>
                                    <li><a href="#">Hotel</a>,</li>
                                    <li><a href="#">Camping</a>,</li>
                                    <li><a href="#">Guesthouse,</a></li>
                                    <li><a href="#">Hostel</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-car"></i> Automotive</a>
                                <ul>
                                    <li><a href="#">Mechanics</a>,</li>
                                    <li><a href="#">Gas Stations</a>,</li>
                                    <li><a href="#">Parts</a>,</li>
                                    <li><a href="#">Repair</a>,</li>
                                    <li><a href="#">Tires</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-suitcase"></i> Jobs</a>
                                <ul>
                                    <li><a href="#">Cook</a>,</li>
                                    <li><a href="#">Hairdrasser</a>,</li>
                                    <li><a href="#">Management</a>,</li>
                                    <li><a href="#">Waiter</a>,</li>
                                    <li><a href="#">Worker</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-heart"></i> Medicine</a>
                                <ul>
                                    <li><a href="#">Dental</a>,</li>
                                    <li><a href="#">Dermatology</a>,</li>
                                    <li><a href="#">Neurology</a>,</li>
                                    <li><a href="#">Pediatrics</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-glass"></i> Nightlife</a>
                                <ul>
                                    <li><a href="#">Bars &amp; Pubs</a>,</li>
                                    <li><a href="#">Concert</a>,</li>
                                    <li><a href="#">Cinemas</a>,</li>
                                    <li><a href="#">Disco</a>,</li>
                                    <li><a href="#">Theater</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-home"></i> Real Estate</a>
                                <ul>
                                    <li><a href="#">Apartmant</a>,</li>
                                    <li><a href="#">Building Area</a>,</li>
                                    <li><a href="#">Condo</a>,</li>
                                    <li><a href="#">House</a>,</li>
                                    <li><a href="#">Villa</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-cutlery"></i> Restaurant</a>
                                <ul>
                                    <li><a href="#">Bistro</a>,</li>
                                    <li><a href="#">Brunch</a>,</li>
                                    <li><a href="#">Caffee</a>,</li>
                                    <li><a href="#">Dinning</a>,</li>
                                    <li><a href="#">Fast Food</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-futbol-o"></i> Sports</a>
                                <ul>
                                    <li><a href="#">Bistro</a>,</li>
                                    <li><a href="#">Brunch</a>,</li>
                                    <li><a href="#">Caffee</a>,</li>
                                    <li><a href="#">Dinning</a>,</li>
                                    <li><a href="#">Fast Food</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="categories-action">Submit</a>
                                <a href="#" class="categories-link"><i class="fa fa-map-marker"></i> Travel</a>
                                <ul>
                                    <li><a href="#">Cruises</a>,</li>
                                    <li><a href="#">Destinations</a>,</li>
                                    <li><a href="#">Holidays</a>,</li>
                                    <li><a href="#">Transportations</a></li>
                                    <li class="all"><a href="#">View All <i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.categories -->

                </div>


            </div>
            <!-- /.container -->

        </div>
        <!-- /.content -->
    </div>

