
<div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="filter" method="post" >

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group" data-toggle="buttons-checkbox" >
                                <button type="button" class="btn btn-secondary active" title="Ajouter un commerce" data-toggle="tooltip">€</button>
                                <button type="button" class="btn btn-primary" title="Ajouter un commerce" data-toggle="tooltip">€€</button>
                                <button type="button" class="btn btn-primary" title="Ajouter un commerce" data-toggle="tooltip">€€€</button>
                                <button type="button" class="btn btn-primary" title="Ajouter un commerce" data-toggle="tooltip">€€€€</button>
                            </div>
                            <button type="button" class="btn btn-primary"><i class="fa fa-clock-o"></i> Ouvert maintenant</button>
                            <button type="button" class="btn btn-primary"><i class="fa fa-wifi"></i> Wifi</button>
                            <button type="button" class="btn btn-primary">Terrasse</button>
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-filter"></i> Plus de filtres</button>
                            <div class="collapse" id="collapseExample">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option class="bs-title-option">Trier par : meilleures notes</option>
                                            <option>Trier par : nombre d'avis</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="filter_type">
                                            <h6>Fonctionnalités</h6>
                                            <pretty-checkbox ng-model="myModel.one" label="false">
                                                <label>Réserver</label>
                                            </pretty-checkbox><br/><br/>
                                            <pretty-checkbox ng-model="myModel.two" label="false">
                                                <label>Ouvert maintenant</label>
                                            </pretty-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-8 col-lg-9">
                <div class="content">

<li  >s</li>
                    <div class="cards-row">

                        <div class="card-row" ng-repeat="b in business" >
                            <div class="card-row-inner">
                                <div class="card-row-image" ng-style="{'background-image':'url(../../img/bimg/{{b.profileImage}})'}">
                                    <div class="card-row-label"><a href="listing-detail.html">{{b.category}}</a></div>
                                    <div class="card-row-price">{{b.sousCategory}}</div><!-- -->
                                </div>
                                <div class="card-row-body">
                                    <h2 class="card-row-title"><a href="listing-detail.html">{{b.name}}</a></h2>
                                    <div class="card-row-content"><p>{{b.description}}</p></div>
                                </div>
                                <div class="card-row-properties">
                                    <dl>

                                        <dd>Prix </dd><dt> <samp ng-repeat="s in [] | range:b.budgetRange">$</samp></dt>
                                        <dd>Categorie</dd><dt>{{b.sousCategory}}</dt>
                                        <dd>Adresse</dd><dt>{{b.gouvernera.name}} - {{b.delegation.name}}</dt>
                                        <dd>Étoile</dd>
                                        <dt>
                                        <div class="card-row-rating">
                                            <i class="fa fa-star" ng-repeat="s in [] | range:b.rate+1" ></i>
                                        </div><!-- /.card-row-rating -->
                                        </dt>
                                    </dl>
                                </div><!-- /.card-row-properties -->
                            </div><!-- /.card-row-inner -->
                        </div><!-- /.card-row -->

                    </div><!-- /.cards-row -->


                    <div class="pager">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">5</a></li>
                            <li class="active"><a>6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div><!-- /.pagination -->


                </div><!-- /.content -->
            </div>

            <div class="col-sm-4 col-lg-3 " style="width: 220px;"  >
                <div class="sidebar">
                    <div class="widget" >
                        <div class="" >
                            <div  class="p20 background-white" >
                                <div class="working-hours" >
                                    <div class="day clearfix">
                                        <span class="name">Mon</span><span class="hours">07:00 AM - 07:00 PM</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

