<style>.angular-google-map-container { height: 400px; }</style>
<div class="main-inner">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-lg-8">
                <div class="content">
                    <div class="page-title">
                        <h1>Ajouter un commerce</h1>
                        <p>
                            Remarque : cette page de commerce n'apparaîtra pas dans les résultats de recherche tant qu'elle n'aura pas été approuvée par nos modérateurs.
                        </p>
                    </div>

                    <div class="background-white p30 mb30">
                        <h3 class="page-title">Description</h3>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Nom du commerce" ><i class="fa fa-tag"></i></span>
                            <input class="form-control" type="text" placeholder="Nom du commerce: exemple Chez chouchou">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Adresse" ><i class="fa fa-building-o"></i></span>
                            <input class="form-control" type="text" placeholder="Adresse : exemple 14 rue des fleurs">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Code Postal" ><i class="fa fa-info"></i></span>
                            <input class="form-control" type="text" placeholder="Code Postal : exemple 7000">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Ville" ><i class="fa fa-flag-o"></i></span>
                            <input class="form-control" type="text" placeholder="Ville : exemple Bizerte">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Numéro de téléphone" ><i class="fa fa-phone"></i></span>
                            <input class="form-control" type="text" placeholder="Numéro de téléphone : exemple 70 11 22 33">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" data-toggle="tooltip" title="Site web" ><i class="fa fa-globe"></i></span>
                            <input class="form-control" type="text" placeholder="Site web : exemple http://www.site.tn">
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon" data-toggle="tooltip" title="Sélectionner jusqu'à 3 catégories, plus vous êtes spécifique mieux c'est." ><i class="fa fa-folder"></i></span>
                                    <input class="form-control" type="text" placeholder="Catégorie : exemple pizza">
                                </div><!-- /.form-group -->
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <button class="btn btn-primary">Ajouter une catégorie</button>
                                </div><!-- /.form-group -->
                            </div>

                        </div>



                    </div><!-- /.box -->


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="background-white p30 mb30">
                                <h3 class="page-title">Position Géographique</h3>
									<div id="map_canvas" style="height:400px;" >
                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                                    <div class="row">
									<br/><br/>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                <input class="form-control" type="text" placeholder="Latitude" id="input-latitude" ng-model="latitude" >
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->

                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                                <input class="form-control" type="text" placeholder="Lontgitude" id="input-longitude" ng-model="longitude" >
                                            </div><!-- /.form-group -->
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                            </div><!-- /.box -->
                        </div>


                    </div><!-- /.row -->

                    <div class="center">
                        <button type="submit" class="btn btn-primary btn-xl">Ajouter le commerce</button>
                    </div><!-- /.center -->

                </div><!-- /.content -->
            </div><!-- /.col-* -->

            <div class="col-sm-5 col-lg-4">
                <div class="sidebar">
                    <div class="widget detail-content">
                        <h2 class="widgettitle">Pourquoi rejoindre Myle ?</h2>
                        <div class="background-white p20 reasons">
                            <div class="reason">
                                <div class="reason-icon">
                                    <i class="fa fa-globe" style="background-color: #009F8B"></i>
                                </div><!-- /.reason-icon -->
                                <div class="reason-content">
                                    <p>Lister votre entreprise dans le répertoire d'entreprise en ligne le plus populaire de la Tunisie</p>
                                </div><!-- /.reason-content -->
                            </div><!-- /.reason -->
                            <div class="reason">
                                <div class="reason-icon">
                                    <i class="fa fa-search" style="background-color: #009F8B"></i>
                                </div><!-- /.reason-icon -->
                                <div class="reason-content">
                                    <p>Améliorer votre visibilité dans les recherches locales Google</p>
                                </div><!-- /.reason-content -->
                            </div><!-- /.reason -->
                            <div class="reason">
                                <div class="reason-icon">
                                    <i class="fa fa-mobile" style="background-color: #009F8B"></i>
                                </div><!-- /.reason-icon -->
                                <div class="reason-content">
                                    <p> Être trouvé sur Android et iOS<br/><br/></p>
                                </div><!-- /.reason-content -->
                            </div><!-- /.reason -->
                        </div>
                    </div><!-- /.widget -->



                    <div class="widget">
                        <h2 class="widgettitle" >Attirer encore <span class="text-secondary">plus de clients</span></h2>

                        <div id="DIV_1">
                            <i class="fa fa-trophy fa-5x"></i>
                            <h4 id="H4_3" style="font-size: 24px;">
                                Garantir un classement  <span id="SPAN_4" style="color: #E04F67; font-size: 24px;" >élevé</span>
                            </h4><br/>
                            <a href id="A_5" style="color:#009f8b">71 444 555</a>
                            <small id="SMALL_6">Appelez-nous aujourd'hui pour discuter de notre gamme de solutions de publicité améliorées.</small>
                        </div>

                    </div>

                </div><!-- /.sidebar -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>



